<form action="<%=url%>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method_name %>" />
  <label> Cat
    <select name="rental[cat_id]">
      <option></option>
      <% Cat.all.each do |cat| %>
        <option value="<%= cat.id %>"
            <% if cat.id.to_i == @cat_id.to_i %>
              selected="selected"
            <% end %>
          ><%= cat.name %></option>
      <% end %>
    </select>
  </label><br><br>
  <label> Start Date
    <input type="date" name="rental[start_date]">
  </label>
  <label> End Date
    <input type="date" name="rental[end_date]">
  </label>
  <input type="submit" value="Submit">
</form>
